@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Social Website</h1>
    <p class="lead">Social Website</p>
    <p><a href="" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <h2>Getting started</h2>
        <p>
            Ut tortor nisi, luctus id diam non, ullamcorper posuere est. Duis semper porttitor turpis, a faucibus neque malesuada id. Etiam feugiat odio leo. Integer fermentum sapien at luctus dictum.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more</h2>
        <p>Sed et arcu posuere, dictum orci at, tincidunt dui. Sed elit diam, sollicitudin non consequat nec, condimentum eget ligula. Vestibulum tortor mauris, ultricies semper mi eu, semper lobortis turpis.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    
</div>